.container {
    max-width: 1140px;
}

.containerListCard {
    margin-top: 30px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.page {
    margin: 90px 15px 30px 15px;
}
.appContainer {
    font-family: sans-serif;
    text-align: center;
    width: 95%;
    margin-bottom: 30px;
}
