@media (max-width: 768px) {

    .dropBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .dropBox > lable {
        align-items: flex-end;
    }

    /* Common button styles */
    .drop__button {
        float: left;
        width: 95%;
        /*min-width: 180px;*/
        /*max-width: 180px;*/
        display: block;
        margin: 5px 5px 0px 5px;
        padding: 1em 2em;
        border: none;
        background: none;
        color: inherit;
        vertical-align: middle;
        position: relative;
        z-index: 1;
        -webkit-backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
    }
    .drop__button:focus {
        outline: none;
    }

    /* Pipaluk */
    .drop__button--pipaluk {
        min-width: 160px;
        padding: 0.75em 1.5em;
        color: #fff;
    }
    .drop__button--pipaluk.button--inverted {
        color: #7986cb;
    }
    .drop__button--pipaluk::before,
    .drop__button--pipaluk::after {
        content: '';
        border-radius: inherit;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        -webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
        transition: transform 0.3s, background-color 0.3s;
        -webkit-transition-timing-function: cubic-bezier(0.25, 0, 0.3, 1);
        transition-timing-function: cubic-bezier(0.25, 0, 0.3, 1);
    }
    .drop__button--pipaluk::before {
        border: 2px solid #7986cb;
    }
    .drop__button--pipaluk.button--inverted::before {
        border-color: #fff;
    }
    .drop__button--pipaluk::after {
        background: #7986cb;
    }
    .drop__button--pipaluk.button--inverted::after {
        background: #fff;
    }
    .drop__button--pipaluk:hover::before {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    .drop__button--pipaluk::before,
    .drop__button--pipaluk:hover::after {
        -webkit-transform: scale3d(0.7, 0.7, 1);
        transform: scale3d(0.87, 0.64, 1);
    }
    .drop__button--pipaluk:hover::after {
        background-color: #3f51b5;
    }
    .drop__button--pipaluk.button--inverted:hover::after {
        background-color: #fff;
    }
    .drop__button--round-s {
        border-radius: 5px;
    }
    .drop__button--text-thick {
        font-weight: 500;
    }
    /*  Close button  */
    .drop__outer {
        position: relative;
        margin: auto;
        width: 25px;
        padding: 15px;
        cursor: pointer;
    }

    .drop__inner {
        width: inherit;
        text-align: center;
    }

    .drop__label {
        font-size: 1em;
        line-height: 2em;
        text-transform: uppercase;
        color: #7986cb;
        transition: all .3s ease-in;
        opacity: 0;
        cursor: pointer;
    }

    .drop__inner:before, .drop__inner:after {
        position: absolute;
        content: '';
        height: 2px;
        width: inherit;
        background: darkred;
        left: 0;
        transition: all .3s ease-in;
    }

    .drop__inner:before {
        top: 50%;
        transform: rotate(45deg);
    }

    .drop__inner:after {
        bottom: 50%;
        transform: rotate(-45deg);
    }

    .drop__outer:hover .drop__label {
        opacity: 1;
    }

    .drop__outer:hover .drop__inner:before,
    .drop__outer:hover .drop__inner:after {
        transform: rotate(0);
    }

    .drop__outer:hover .drop__inner:before {
        top: 0;
    }

    .drop__outer:hover .drop__inner:after {
        bottom: 0;
    }
}