/*.containerCatProd {*/
/*    display: flex;*/
/*    !*justify-content: space-between;*!*/
/*    flex-wrap: wrap;*/
/*}*/

.container__viewCatProd {
    width: 65%;
}

.wrapperFilCat {
    display: flex;
    flex-wrap: wrap;
}

/* ------------------------------ */

.wrapperFilProd__viewCatProd {
    display: flex;
    flex-direction: column;
    padding: 1em;
    width: 100%;
}

/* new */

.filter__list {
    display: flex;
justify-content: space-between;
}

.filter__list > li {
    position: relative;
    margin: 0px 0px 0px 20px;
    padding: 10px 0;
}

.filter__link {
    color: #fff;
    display: block;
    margin: 15px 15px 15px 0;
    font-size: 24px;
}
.filter__link:hover {
    text-decoration: underline;
}

.filter__sub-link {
    color: #fff;
}

.filter__sub-link:hover {
    text-decoration: underline;
}

.filter__arrow {
    display: none;
}

.filter__sub-list {
    position: absolute;
    top: 100%;
    background-color: #000;
    padding: 15px;
    min-width: 200px;
    transform: translate(0px, 10%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease 0s;
}
.filter__sub-list li {
    margin: 0px 0px 10px 0px;
}

.filter__sub-list li:last-child {
    margin: 0;
}

body._pc .filter__list > li .filter__sub-list {
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
    pointer-events: all;
}

@media (max-width: 768px) {
    .container__viewCatProd {

    }
}
@media (min-width: 768px) {
    .container__viewCatProd {

    }
}


