.header__logo {
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    z-index: 5;
    width: 40px;
    height: 40px;
}

.menu__list > li {
    position: relative;
    margin: 0px 0px 0px 20px;
}

.menu__list {
    display: flex;
    align-items: center;
}
.menu__sub-list {
    position: absolute;
    top: 100%;
    left: -50%;
    margin-top: -6px;
    min-width: 300px;
    /*background-color: white;*/
    transform: translate(0px, 10%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease 0s;
}

.menu__sub-list li {
    margin: 0px 0px 0px 0px;
}

.menu__sub-list li:last-child {
    margin: 0;
}

.menu__arrow {
    display: none;
}


@media (max-width: 768px) {

}