.scroll {
  opacity: 0.3;
  background-color: rgb(167, 146, 182);
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  border-radius: 5px;
  border: none;
}

.scroll:hover {
  opacity: 1;
}

.arrowUp {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -9px;
  margin-left: -5px;
}
